<section class="container-stories-section">
    <div class="container-story-creation">
        <div class="create-button">
            <button class="button-p6" [routerLink]="['createStory']">Créer un article</button>
        </div>
        <div class="sort-button">
            <button class="sortBy" (click)="sortBy()">Trier par
                <mat-icon *ngIf="!iconSortDown; else displayUp">arrow_downward</mat-icon>
                <ng-template #displayUp>
                    <mat-icon>arrow_upward</mat-icon>
                </ng-template>
            </button>
        </div>
    </div>
    <div class="container-stories-div">
        <p> {{ noStoriesMessage }}</p>
        <div class="div-story" *ngFor="let story of storiesFromSubscriptions" (click)="storyById(story.id)">
            <h2>
                {{ story.title }}
            </h2>
            <div class="date-author">
                <div class="date">
                    Date : {{ story.createdAt | date: 'longDate'}}
                </div>
                <div class="author">
                    Auteur : {{ story.associatedUser.name }}
                </div>
            </div>
            <div class="content" (click)="storyById(story.id)">
                {{ story.content }}
            </div>
        </div>
    </div>
</section>